@use "./base.scss";

// 行事曆中文章連結的顏色
.post-calendar .pc-list a {
  color: #e06c75;  // 例如粉紅色
}

.post-calendar .pc-list a:hover {
  color: var(--tertiary);   // hover 時的顏色
}

// 行事曆中有文章的日期 — 紫羅蘭色
.post-calendar .pc-day.has-post {
  color: #A78BFA;
}