@use "./base.scss";


// 行事曆中有文章的日期 — 紫羅蘭色
.post-calendar .pc-day.has-post {
  color: #cabaff;
}

// 行事曆中文章連結的顏色
.post-calendar .pc-list a {
  color:#F7ABD5;
}

.post-calendar .pc-list a:hover {
  color: var(--tertiary);
}

// Tag 標籤 — 黃色
a.tag-link {
  color: #fff29e;
}

// 左側文章列表（Explorer）— 藍色
.explorer a {
  color: #99d8ff;
}

// Graph View 節點顏色
.graph {
  --secondary: #cabaff;
  --tertiary: #F38514;
}